body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.ant-layout-header {
    box-shadow: 0 0.3px 0.9px rgba(0, 0, 0, 0.12),
        0 1.6px 3.6px rgba(0, 0, 0, 0.12);
}

.sb-show-main {
    background-color: unset;
}

label {
    white-space: pre-wrap;
}

.text-center {
    text-align: center !important;
}

.pointer {
    cursor: pointer;
}

.scrollbar-track {
    background: transparent !important;
}

.scrollbar-thumb {
    background: rgba(100, 100, 100, 0.2) !important;
}
